#Title {
  border: solid 1px darkgreen;
  box-shadow: 0px 4px green;
  padding: 5px 5px 5px 5px;
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: #ffffffbb;
}

.menuClass
{
  position: absolute;
  z-index: 3;
}

#Scene {
  border: solid 1px gray;
  box-shadow: 0px 4px lightgray;
  width: 400px;
  height: 225px;
}

#game_title {
  font-size: 20px;
  color: green;
  text-shadow: 1px 1px lightgray;
  background-color: 0xffffff77;
}

#game_author_dir {
  font-size: 16px;
  color: gray;
}

#game_author {
  text-shadow: 1px 1px lightgray;
}

#version {
  color: gray;
  float: right;
  margin-right: 40px;
}

.auth {
  float: right;
}

#p_Photo {
  width: 20px;
  height: 20px;
  float: right;
}

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-content span {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
}

.in {
  width: 25px;
  height: 10px;
  float: right;
  margin-top: 0px;
}

.inh2 {
  width: 40px;
  display: inline;
}

.dropdown-content span:hover {background-color: #ddd; cursor: pointer;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}








a:hover {
  cursor: pointer;
}

#menu {
  position: fixed;
  z-index: 9999; /* Most times is 2000 used as middle */
  visibility: hidden;
  opacity: 0;

  padding: 0px;
  font-family: sans-serif;
  font-size: 11px;
  background: #ffffffcc;
  color: #222;
  max-width: 290px;





  -webkit-box-shadow: 0px 2px 2px 0px rgba(143, 144, 145, 1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(143, 144, 145, 1);
  box-shadow: 0px 2px 2px 0px rgba(143, 144, 145, 1);
}

#menu a {
  display: block;
  color: #555;
  text-decoration: none;
  padding: 6px 8px 6px 30px;
  min-width: 250px;
  position: relative;
}

#menu div a {
  display: block;
  color: #555;
  text-decoration: none;
  padding: 6px 8px 6px 30px;
  min-width: 250px;
  position: relative;
}

#menu a img,
#menu a i.fa {
  height: 20px;
  font-size: 17px;
  width: 20px;
  position: absolute;
  left: 5px;
  top: 2px;
}

#menu a span {
  color: #BCB1B3;
  float: right;
}

#menu a:hover {
  color: #000;
  background: lightgray;  /* #3879D9; */
}

#menu hr {
  border: 1px solid #EBEBEB;
  border-bottom: 0;
}

.third {
  text-align: center;
  background-color: tomato;
  width: 100%;
    box-sizing: border-box;
    margin-left: -1%;
    margin-right: 50%;
    padding-left: 50%;
}
