body{
    margin:0px;
    background-color:white;
}
#can{
    image-rendering:pixelated;
    width:100%;
    border-bottom:solid 1px gray;
    position:absolute;
    z-index:0;
}
#ops{
    position:absolute;
    width:250px;
    z-index:1;
    height:300px;
    user-select:none;
}
#toggle{
    background-color:lightgray;
    padding:4px;
    cursor:pointer;
}
#cont{
    overflow-y:scroll;
    background-color:lightblue;
    max-height:500px;
    width:100%;
    border:solid 1px gray;
}
#cont span{
    padding:4px;
    margin-bottom:6px;
    border-bottom:solid 1px gray;
    display:block;
}